body {
	width: 800px;
	margin: 10px 0 10px 10px ;
}

div, article, section, footer {
	background: pink;
	margin: 10px 0;
}

.clear {
	clear: both;
}

div {
	height: 100px;
	width: 150px;
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*float: right;*/
}

li {
	/*float: right;*/
}

li a {
	display: inline-block;
	float: right;
	width: 150px;
	height: 50px;
	margin:	 35px 0 10px 5px;	
	text-decoration: none;
	background: aquamarine;
	text-align: center;
}

li.firstnav {
	/*float: right;*/
}

article {
	height: 500px;
	width: 49%;
}

article.leftarticle {
	float: left;
}

article.rightarticle {
	float: right;
}

section {
	height: 200px;
	width: 32%;
}

section.firstsec, section.secondsec{
	float: left;
}

section.secondsec {
	margin: 10px 0px 10px 17px;

}
section.thirdsec{
	float: right;
}
footer {
	height: 200px;
	margin-top: 20px; 
}