

/*FONT FAMILY REFERENCES*/
/*
font-family: 'Poiret One', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif;
*/


/*
#intro-0 {
  text-align: center;
  padding: 20px 0;
  height: 370px;
  background-image: url('../images/color-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 0 -250px;
  padding-top: 150px;
}
*/

#intro-0 {
  position:relative;

}
#intro-0 h1 {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  color: black;
  padding-top: 30px;


}

#intro-0 p { 
  color: black;
  background-color: rgba(255,255,255,0.5);
  padding: 10px 0px;

}



.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 100%;
  text-align: center;
}

  .hsContent h2 {
    color: #fff8de;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
  }

.instructions p {
  font-size: 25px;
  margin-top: 200px;
  line-height: 60px;
  background-color: rgba(255,255,255,0.3);
  padding: 0 5px;
}


#slide-0 .bcg {
  background-image: url('../images/sky.jpg');
} 

#slide-1 .bcg {
  background-image: url('../images/batcave2.jpg');
}

#slide-2 .bcg {
  background-image: url('../images/city.jpg');
}

#slide-3 .bcg {
  background-image: url('../images/arctic.jpg');
}

#slide-4 .bcg {
  background-image: url('../images/ocean.jpg');
}

#slide-5 .bcg {
  background-image: url('../images/garden.jpg');
}

#slide-end .bcg {
    background-image: url('../images/mantisshrimp.jpg')

}

#intro-0 .bcg {
  background-image: url('../images/color-background.jpg')
  /*background-position: 0 -250px;*/

}

#intro-1 .bcg {
    background: none;
    background-color: #010101;
    /*height: 310px;*/
    text-align: center
}

#color-1 .bcg {
  background-image: url('../images/Background-1.png');
}

#color-2 .bcg {
  background-image: url('../images/Background-2.png');
}

#color-3 .bcg {
  background-image: url('../images/Background-3.jpg');
}

#color-4 .bcg {
  background-image: url('../images/Background-5.jpg');
}

#color-5 .bcg {
  background-image: url('../images/Background-4.jpg');
}


.hsContent img{
  float: left;
  border: 5px solid red;
  margin-left: 20px; 

}

.hsContent .description{
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
  display: inline-block;
  width: 85%;
  padding: 5px;
  font-size: 25px;
  font-weight: lighter;
  line-height: 1.5;

}

.color h2 {
    color: #DDA0DD;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
}

#slide-end h2 {
  font-size: 60px;
  background-color: rgba(0,0,0,0.5)
}

.colorContainer {
    width: 100%; height: 100%;
    position: relative;
}
.colorContainer {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.colorContainer .copy {
    position: absolute;
    bottom: 30%; left: 0;
    width: 100%; text-align: center;
}


@media screen and (max-width: 768px) {
     
    body, html {
        height: auto;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }


    .hsContent .description{
      font-size: 20px;
    }
    .instructions p{
      font-size: 20px;
      line-height: 30px;
    }

    .hsContent h2 {
      font-size: 30px;
    }
/*    section {
        height: 600px;
    }
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        position: absolute;

    }
        .hsContent h2  {
            font-size: 40px;
            line-height: 42px;
            color: red;
        }
        .hsContent p {
            font-size: 20px;
        }
*/
     
}





