

/*FONT FAMILY REFERENCES*/
/*
font-family: 'Poiret One', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif;
*/

section {
  height:600;
  /*color:green;*/
}

header {
  text-align: center;
  padding: 20px 0;
  height: 370px;
  /*border: 5px solid red ;*/
  background-image: url('../images/color-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 0 -250px;
  padding-top: 150px;
}

header h1 {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  color: black;
}

header p { 
  color: grey;
}

main {
  /*margin-left: 35px;*/
  /*border-left: 2px solid blue;*/
  padding-left: 5px;
  margin-top: 10px;
  /*height: 1000px;*/
  /*border: 5px red;*/
}

main div {
  padding: 100px 0;
  /*border: 5px solid black;*/
  /*display:none;*/
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 700px;
  position: absolute;
/*  left: 50%;
  top: 50%;*/
}



#slide-1 .bcg {
  background-color: pink;
}

#slide-2 .bcg {
  background-color: orange;
}












